<div class="columns">
  <div class="column col-8" style="padding:15px;">
    <h3>New Episode with Control Points</h3>
  </div>
  <div class="column col-4" style="margin-top:30px;padding:15px;">
    <a href="/episodes/new" class="btn btn-block">Use States as input</a>
  </div>
</div>
<div class="divider"></div>
<div class="columns">
  <div class="column col-12" style="padding:15px;">
    <form action="/episodes/control_points" method="POST">
      <!-- name:string -->
      <div class="form-group">
        <label class="form-label" for="name" style="font-weight:bold;padding:5px 0px;">Name</label>
        <input class="form-input" type="text" id="name" name="name" placeholder="Name of Episode"/>
      </div>
      
      <!-- timestep:integer -->
      <div class="form-group">
        <label class="form-label" for="timestep" style="font-weight:bold;padding:5px 0px;">Timestep in milliseconds (40 ~ 200ms)</label>
        <input class="form-input" type="number" id="timestep" name="timestep" placeholder="Valid : 40 ~ 200ms" min="40" max="200" value="200"/>
      </div>
      
      <!-- control_points:JSON -->
      <div class="form-group">
        <label class="form-label" for="control_points" style="font-weight:bold;padding:5px 0px;">Control Points in JSON</label>
        <textarea class="form-input" id="control_points" name="control_points" placeholder="Invalid JSON will be ignored" rows="30"></textarea>
      </div>

      <div class="form-group" align="right">
        <button class="btn btn-link" type="reset">Reset</button>
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
