/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.btn.btn-danger {
    background: #fff;
    border-color: #E53935;
    color: #EF5350;
}
.btn.btn-danger:focus {
    background: #F44336;
    border-color: #D32F2F;
    color: #fff;
}
.btn.btn-danger:hover {
    background: #E53935;
    border-color: #C62828;
    color: #fff;
}
.btn.btn-danger:active,
.btn.btn-danger.active {
    background: #D32F2F;
    border-color: #B71C1C;
    color: #fff;
}
.btn.btn-danger.loading::after {
    border-color: #fff;
    border-right-color: transparent;
    border-top-color: transparent;
}
