<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- Spectre CSS -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/spectre.css/0.1.27/spectre.min.css">
  <!-- Material Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  <!-- CanvasJS for spline chart -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.0-alpha3/Chart.min.js"></script>
</head>
<body>
  <div class="container grid-960">
    <%= yield %>
  </div>
</body>
</html>
